<div class="row" ng-controller='SearchController'>
		
		<div class="search-result col-md-9">

			<div class="form-inline">
				<input type="text" ng-model="search.query" name="search" id="search" class="form-control col-md-4">
				<button ng-click="searchGames(search.query)" class="btn btn-default">Search</button>
			</div>

			<h2>{{search.message}}</h2>
		    <ul>
		    	<li ng-repeat="game in games" class="row">
		    		<span class="col-md-7">
		    			{{game.name.__text}}
		    		</span> 
		    		<div class="col-md-5">
			    		<button ng-click="getGame(game._objectid)" class="btn btn-default">Add</button>
			    		<a href="/#/details/{{game._objectid}}">details</a>
		    		</div>
		    	</li>
		    </ul>
		</div>

		<div class="col-md-3">
			<h3 ng-bind="singleGame.name"></h3>
			<div>
				<div class="form-group">
					<label for="title">Name</label>
					<input type="text" name="title" id="title" ng-value="singleGame.name" class="form-control">
				</div>

				<div class="form-group">
					<label for="publicationyear">Publicaton year</label>
					<input type="text" name="publicationyear" id="publicationyear" ng-value="singleGame.yearpublished" class="form-control">
				</div>

				<div class="form-group">
					<label for="category">Category</label>
					<input type="text" name="category" id="category" ng-value="singleGame.boardgamecategory" class="form-control">
				</div>

				<div class="form-group">
					<label for="minPlayers">Minimum players</label>
					<input type="text" name="minPlayers" id="minPlayers" ng-value="singleGame.minplayers" class="form-control">
				</div>

				<div class="form-group">
					<label for="maxPlayers">Maximum players</label>
					<input type="text" name="maxPlayers" id="maxPlayers" ng-value="singleGame.maxplayers" class="form-control">
				</div>

				<div class="form-group">
					<label for="minplaytime">Minimum playing time</label>
					<input type="text" name="minplaytime" id="minplaytime" ng-value="singleGame.minplaytime" class="form-control">
				</div>

				<div class="form-group">
					<label for="maxplaytime">Maximum players</label>
					<input type="text" name="maxplaytime" id="maxplaytime" ng-value="singleGame.maxplaytime" class="form-control">
				</div>

			</div>
		</div>
</div>