<div class="row" ng-controller='SearchController'>
	<div class="search-result col-md-9">
		<!-- Search form -->
			<div class="form-inline">
				<input type="text" ng-model="search.query" name="search" id="search" class="form-control col-md-4">
				<button ng-click="searchGames(search.query)" class="btn btn-default">Search</button>
			</div>
		<!-- /Search form -->

		<!-- Search result list -->
			<h2>{{search.message}}</h2>
		    <ul>
		    	<li ng-repeat="game in games" class="row">
		    		<span class="col-md-7">
		    			{{game.name.__text}}
		    		</span> 
		    		<div class="col-md-5">
			    		<button ng-click="getGame(game._objectid)" class="btn btn-default">Add</button>
			    		<a href="/#/details/{{game._objectid}}">details</a>
		    		</div>
		    	</li>
		    </ul>
		<!-- /Search result list -->
	</div>

	<div class="col-md-3">
		<!-- Add game form -->
			<h3 ng-bind="singleGame.name"></h3>
			<div>
				<div class="form-group">
					<label for="title">Name</label>
					<input type="text" name="title" id="title" ng-value="singleGame.name" class="form-control">
				</div>

				<div class="form-group">
					<label for="publicationyear">Publicaton year</label>
					<input type="text" name="publicationyear" id="publicationyear" ng-value="singleGame.year" class="form-control">
				</div>

				<div class="form-group">
					<label for="category">Categories</label>
					<input type="text" name="category" id="category" ng-value="singleGame.categories" class="form-control">
				</div>

				<div class="form-group">
					<label for="designers">Designers</label>
					<input type="text" name="designers" id="designers" ng-value="singleGame.designers" class="form-control">
				</div>

				<div class="form-group">
					<label for="family">Boardgame family</label>
					<input type="text" name="family" id="family" ng-value="singleGame.family" class="form-control">
				</div>

				<div class="form-group">
					<label for="publishers">Publishers</label>
					<input type="text" name="publishers" id="publishers" ng-value="singleGame.publishers" class="form-control">
				</div>

				<div class="form-group">
					<label for="artists">Artists</label>
					<input type="text" name="artists" id="artists" ng-value="singleGame.artists" class="form-control">
				</div>

				<div class="form-group">
					<label for="mechanics">Mechanic</label>
					<input type="text" name="mechanics" id="mechanics" ng-value="singleGame.mechanics" class="form-control">
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea name="description" id="description" class="form-control" ng-bind-html="singleGame.description"></textarea>
				</div>

				<div class="form-group">
					<label for="minPlayers">Minimum players</label>
					<input type="text" name="minPlayers" id="minPlayers" ng-value="singleGame.minplayers" class="form-control">
				</div>

				<div class="form-group">
					<label for="maxPlayers">Maximum players</label>
					<input type="text" name="maxPlayers" id="maxPlayers" ng-value="singleGame.maxplayers" class="form-control">
				</div>

				<div class="form-group">
					<label for="minplaytime">Minimum playing time</label>
					<input type="text" name="minplaytime" id="minplaytime" ng-value="singleGame.mintime" class="form-control">
				</div>

				<div class="form-group">
					<label for="maxplaytime">Maximum players</label>
					<input type="text" name="maxplaytime" id="maxplaytime" ng-value="singleGame.maxtime" class="form-control">
				</div>
				<button ng-click="saveGame(singleGame)" class="btn btn-default">Save</button>
			</div>
		<!-- /Add game form -->
	</div>
</div>