<!DOCTYPE root[<!ELEMENT Search ANY>
<!ATTLIST Search id ID #REQUIRED>
<!ELEMENT List ANY>
<!ATTLIST List id ID #REQUIRED>
<!ELEMENT Collections ANY>
<!ATTLIST Collections id ID #REQUIRED>
<!ELEMENT Tag ANY>
<!ATTLIST Tag id ID #REQUIRED>
<!ELEMENT Tags ANY>
<!ATTLIST Tags id ID #REQUIRED>
<!ELEMENT Game ANY>
<!ATTLIST Game id ID #REQUIRED>
<!ELEMENT Games ANY>
<!ATTLIST Games id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1096" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-18T13:07:52" updateDate="2015-01-18T13:07:52" nodeName="Home" urlName="home" path="-1,1096" isDoc="" nodeType="1092" creatorName="Maria" writerName="Maria" writerID="0" template="1091" nodeTypeAlias="Home">
    <Games id="1098" parentID="1096" level="2" creatorID="0" sortOrder="0" createDate="2015-01-18T13:10:14" updateDate="2015-01-18T13:10:14" nodeName="Games" urlName="games" path="-1,1096,1098" isDoc="" nodeType="1097" creatorName="Maria" writerName="Maria" writerID="0" template="0" nodeTypeAlias="Games">
      <Game id="1099" parentID="1098" level="3" creatorID="0" sortOrder="0" createDate="2015-01-18T13:12:57" updateDate="2015-01-18T13:58:12" nodeName="Test game 1" urlName="test-game-1" path="-1,1096,1098,1099" isDoc="" nodeType="1095" creatorName="Maria" writerName="Maria" writerID="0" template="1094" nodeTypeAlias="Game">
        <onloan>0</onloan>
        <tags><![CDATA[1104,1105]]></tags>
      </Game>
      <Game id="1100" parentID="1098" level="3" creatorID="0" sortOrder="1" createDate="2015-01-18T13:13:08" updateDate="2015-01-18T13:13:08" nodeName="Test game 2" urlName="test-game-2" path="-1,1096,1098,1100" isDoc="" nodeType="1095" creatorName="Maria" writerName="Maria" writerID="0" template="1094" nodeTypeAlias="Game" />
    </Games>
    <Collections id="1110" parentID="1096" level="2" creatorID="0" sortOrder="1" createDate="2015-01-18T14:01:32" updateDate="2015-01-18T14:01:32" nodeName="Lists" urlName="lists" path="-1,1096,1110" isDoc="" nodeType="1107" creatorName="Maria" writerName="Maria" writerID="0" template="0" nodeTypeAlias="Collections">
      <List id="1111" parentID="1110" level="3" creatorID="0" sortOrder="0" createDate="2015-01-18T14:01:47" updateDate="2015-01-18T14:01:47" nodeName="To play" urlName="to-play" path="-1,1096,1110,1111" isDoc="" nodeType="1109" creatorName="Maria" writerName="Maria" writerID="0" template="1108" nodeTypeAlias="List" />
      <List id="1112" parentID="1110" level="3" creatorID="0" sortOrder="1" createDate="2015-01-18T14:02:02" updateDate="2015-01-18T14:02:02" nodeName="Wish list" urlName="wish-list" path="-1,1096,1110,1112" isDoc="" nodeType="1109" creatorName="Maria" writerName="Maria" writerID="0" template="1108" nodeTypeAlias="List" />
      <List id="1113" parentID="1110" level="3" creatorID="0" sortOrder="2" createDate="2015-01-18T14:02:14" updateDate="2015-01-18T14:02:14" nodeName="My collection" urlName="my-collection" path="-1,1096,1110,1113" isDoc="" nodeType="1109" creatorName="Maria" writerName="Maria" writerID="0" template="1108" nodeTypeAlias="List" />
    </Collections>
    <Search id="1117" parentID="1096" level="2" creatorID="0" sortOrder="2" createDate="2015-01-18T14:10:02" updateDate="2015-01-18T14:10:02" nodeName="Search" urlName="search" path="-1,1096,1117" isDoc="" nodeType="1116" creatorName="Maria" writerName="Maria" writerID="0" template="1115" nodeTypeAlias="Search" />
  </Home>
  <Tags id="1102" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-01-18T13:54:28" updateDate="2015-01-18T13:54:28" nodeName="Tags" urlName="tags" path="-1,1102" isDoc="" nodeType="1101" creatorName="Maria" writerName="Maria" writerID="0" template="0" nodeTypeAlias="Tags">
    <Tag id="1104" parentID="1102" level="2" creatorID="0" sortOrder="0" createDate="2015-01-18T13:56:08" updateDate="2015-01-18T13:56:08" nodeName="Favorite" urlName="favorite" path="-1,1102,1104" isDoc="" nodeType="1103" creatorName="Maria" writerName="Maria" writerID="0" template="0" nodeTypeAlias="Tag" />
    <Tag id="1105" parentID="1102" level="2" creatorID="0" sortOrder="1" createDate="2015-01-18T13:56:18" updateDate="2015-01-18T13:56:18" nodeName="For kids" urlName="for-kids" path="-1,1102,1105" isDoc="" nodeType="1103" creatorName="Maria" writerName="Maria" writerID="0" template="0" nodeTypeAlias="Tag" />
  </Tags>
</root>