@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	  var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en" ng-app="gameQApp">
  <head>

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/frontend/js/angular-route.js"></script>
    <script src="/frontend/js/angular-sanitize.js"></script>
    <script src="/frontend/js/xml2json.js"></script>
	  <script src="/frontend/js/controllers.js"></script>
    <!-- Fonts -->
	
    <!-- CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css">


  </head>

  <body>
    <header class="container">
      	Header
    </header>
    	
      @RenderBody()

    <footer class="field dark container">
    	Footer
    </footer>
    
    <!-- Javascripts -->
  </body>
</html>