@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en" ng-app="gameQApp">
  <head>

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="/frontend/js/angular-route.js"></script>
    <script src="/frontend/js/xml2json.js"></script>
	  <script src="/frontend/js/controllers.js"></script>
    <!-- Fonts -->
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css">

  </head>

  <body>
    <header>
      	Header
    </header>
    	
      @RenderBody()

    <footer class="field dark">
    	Footer
    </footer>
    
    <!-- Javascripts -->
  </body>
</html>