@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	  var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en" ng-app="gameQApp">
  <head>

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	
    <!-- CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/frontend/css/style.css">

  </head>

  <body>
    <header class="container">
      	Header
    </header>
    	
      @RenderBody()

    <footer class="field dark container">
    	Footer
    </footer>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <script src="/frontend/js/libs/angular-route.js"></script>
    <script src="/frontend/js/libs/angular-sanitize.js"></script>
    <script src="/frontend/js/libs/xml2json.js"></script>

    <script src="/frontend/js/QApp/appConfig.js"></script>
    <script src="/frontend/js/QApp/services/singleGameService.js"></script>

    <script src="/frontend/js/QApp/controllers/searchController.js"></script>
    <script src="/frontend/js/QApp/controllers/detailsController.js"></script>
  </body>
</html>