@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
	<!-- Fonts -->
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>
    <header>
      	Header
    </header>
	
    @RenderBody()

    <footer class="field dark">
    	Footer
    </footer>
    
    <!-- Javascripts -->
  </body>
</html>