<div class="row">
		<div class="col-md-12">
			<h1 ng-bind="singleGame.name"></h1>
			<div>
				<div class="row">
					<img src="{{singleGame.image}}" alt="{{singleGame.name}}" class="col-md-6">
					<div class="col-md-6">
						<label for="title">Name</label>
						<p>{{singleGame.name}}</p>
					</div>
				</div>
				<div class="row">
					<label for="title">Designers</label>
					<ul ng-repeat="designer in singleGame.designers">
						<li>{{designer}}</li>
					</ul>
				</div>
				<div class="row">
					<label for="title">Boardgame family</label>
					<p>{{singleGame.family}}</p>
				</div>
				<div class="row">
					<label for="title">Publishers</label>
					<ul ng-repeat="publisher in singleGame.publishers">
						<li>{{publisher}}</li>
					</ul>
				</div>
				<div class="row">
					<label for="title">Artists</label>
					<ul ng-repeat="artist in singleGame.artists">
						<li>{{artist}}</li>
					</ul>
				</div>
				<div class="row">
					<label for="title">Boardgame version</label>
					<p>{{singleGame.version}}</p>
				</div>		
				<div class="row">
					<label for="publicationyear">Publicaton year</label>
					<p>{{singleGame.year}}</p>
				</div>
				<div class="row">
					<label for="age">Suggested Age</label>
					<p>{{singleGame.suggestedAge}}</p>
				</div>
				<div class="row">
					<label for="publicationyear">Description</label>
					<p ng-bind-html="singleGame.description"></p>
				</div>
				
				<div class="row">
					<label for="category">Category</label>
					<ul ng-repeat="category in singleGame.categories">
						<li>{{category}}</li>
					</ul>
				</div>

				<div class="row">
					<label for="mechanic">Mechanic</label>
					<ul ng-repeat="mechanic in singleGame.mechanics">
						<li>{{mechanic}}</li>
					</ul>
				</div>

				<div class="row">
					<label for="minPlayers">Minimum players</label>
					<p>{{singleGame.minplayers}}</p>
				</div>

				<div class="row">
					<label for="maxPlayers">Maximum players</label>
					<p>{{singleGame.maxplayers}}</p>
				</div>

				<div class="row">
					<label for="minplaytime">Minimum playing time</label>
					<p>{{singleGame.mintime}}</p>
				</div>

				<div class="row">
					<label for="maxplaytime">Maximum playing time</label>
					<p>{{singleGame.maxtime}}</p>
				</div>

				<div class="row">
					<label for="honor">Honors</label>
					<ul ng-repeat="honor in singleGame.honors">
						<li>{{honor}}</li>
					</ul>
				</div>

			</div>
		</div>

		<button ng-click="addGame(singleGame)">Add game</button>
</div>